tardumpschema
[{"id":"1e9686ea.06cae9","type":"tab","label":"Map ADS-B flights","disabled":false,"info":""},{"id":"54d62491.aead3c","type":"debug","z":"1e9686ea.06cae9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":400,"wires":[]},{"id":"4816f268.6aeb6c","type":"tcp in","z":"1e9686ea.06cae9","name":"Get Dump1090 output","server":"client","host":"localhost","port":"30003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":140,"y":300,"wires":[["2b50c98a.84ac9e","9303afd8.8e6a8"]]},{"id":"2b50c98a.84ac9e","type":"csv","z":"1e9686ea.06cae9","name":"Convert CSV to JSON","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":400,"y":300,"wires":[["60db97e2.fa175","fe06d19b.4ecd8"]]},{"id":"60db97e2.fa175","type":"change","z":"1e9686ea.06cae9","name":"Apply ADS-B labels","rules":[{"t":"move","p":"payload.col1","pt":"msg","to":"payload.msg_type","tot":"msg"},{"t":"move","p":"payload.col2","pt":"msg","to":"payload.trans_type","tot":"msg"},{"t":"move","p":"payload.col3","pt":"msg","to":"payload.session_id","tot":"msg"},{"t":"move","p":"payload.col4","pt":"msg","to":"payload.aircraft_id","tot":"msg"},{"t":"move","p":"payload.col5","pt":"msg","to":"payload.hex_ident","tot":"msg"},{"t":"move","p":"payload.col6","pt":"msg","to":"payload.flight_id","tot":"msg"},{"t":"move","p":"payload.col7","pt":"msg","to":"payload.generate_date","tot":"msg"},{"t":"move","p":"payload.col8","pt":"msg","to":"payload.generated_time","tot":"msg"},{"t":"move","p":"payload.col9","pt":"msg","to":"payload.logged_date","tot":"msg"},{"t":"move","p":"payload.col10","pt":"msg","to":"payload.logged_time","tot":"msg"},{"t":"move","p":"payload.col11","pt":"msg","to":"payload.callsign","tot":"msg"},{"t":"move","p":"payload.col12","pt":"msg","to":"payload.altitude","tot":"msg"},{"t":"move","p":"payload.col13","pt":"msg","to":"payload.ground_speed","tot":"msg"},{"t":"move","p":"payload.col14","pt":"msg","to":"payload.track","tot":"msg"},{"t":"move","p":"payload.col15","pt":"msg","to":"payload.lat","tot":"msg"},{"t":"move","p":"payload.col16","pt":"msg","to":"payload.lon","tot":"msg"},{"t":"move","p":"payload.col17","pt":"msg","to":"payload.vert_rate","tot":"msg"},{"t":"move","p":"payload.col18","pt":"msg","to":"payload.squawk","tot":"msg"},{"t":"move","p":"payload.col19","pt":"msg","to":"payload.alert","tot":"msg"},{"t":"move","p":"payload.col20","pt":"msg","to":"payload.emergency","tot":"msg"},{"t":"move","p":"payload.col21","pt":"msg","to":"payload.spi","tot":"msg"},{"t":"move","p":"payload.col22","pt":"msg","to":"payload.is_on_ground","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":300,"wires":[["54d62491.aead3c","652c4803.b8ffc8"]],"info":"    message_type\n    transmission_type\n    session_id\n    aircraft_id\n    hex_ident\n    flight_id\n    generated_date\n    generated_time\n    logged_date\n    logged_time\n    callsign\n    altitude\n    ground_speed\n    track\n    lat\n    lon\n    vertical_rate\n    squawk\n    alert\n    emergency\n    spi\n    is_on_ground"},{"id":"f3c563ca.06ab18","type":"worldmap","z":"1e9686ea.06cae9","name":"","lat":"-37.8124","lon":"144.9626","zoom":"7","layer":"OSM grey","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":1100,"y":300,"wires":[]},{"id":"652c4803.b8ffc8","type":"change","z":"1e9686ea.06cae9","name":"Apply map labels","rules":[{"t":"set","p":"payload.name","pt":"msg","to":"payload.hex_ident","tot":"msg"},{"t":"set","p":"payload.icon","pt":"msg","to":"plane","tot":"str"},{"t":"set","p":"payload.iconColor","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":300,"wires":[["f3c563ca.06ab18","5e9a6828.7d3b"]]},{"id":"5e9a6828.7d3b","type":"debug","z":"1e9686ea.06cae9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":400,"wires":[]},{"id":"9303afd8.8e6a8","type":"debug","z":"1e9686ea.06cae9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":170,"y":400,"wires":[]},{"id":"fe06d19b.4ecd8","type":"debug","z":"1e9686ea.06cae9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":400,"wires":[]},{"id":"7ccd0477.817434","type":"inject","z":"1e9686ea.06cae9","name":"Draw 100kM","topic":"","payload":"{\"name\":\"100kM\",\"lat\":-37.8124,\"lon\":144.9626,\"radius\":100000,\"fillOpacity\":0.1}","payloadType":"json","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":900,"y":220,"wires":[["f3c563ca.06ab18"]]},{"id":"dd3845e9.7526b8","type":"inject","z":"1e9686ea.06cae9","name":"Draw 200kM","topic":"","payload":"{\"name\":\"200kM\",\"lat\":-37.8124,\"lon\":144.9626,\"radius\":200000,\"fillOpacity\":0.1}","payloadType":"json","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":900,"y":180,"wires":[["f3c563ca.06ab18"]]},{"id":"b66775f9.371718","type":"inject","z":"1e9686ea.06cae9","name":"Draw 300kM","topic":"","payload":"{\"name\":\"300kM\",\"lat\":-37.8124,\"lon\":144.9626,\"radius\":300000,\"fillOpacity\":0.1}","payloadType":"json","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":900,"y":140,"wires":[["f3c563ca.06ab18"]]},{"id":"5237dce5.a0af8c","type":"inject","z":"1e9686ea.06cae9","name":"Draw 400kM","topic":"","payload":"{\"name\":\"400kM\",\"lat\":-37.8124,\"lon\":144.9626,\"radius\":400000,\"fillOpacity\":0.1}","payloadType":"json","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":900,"y":100,"wires":[["f3c563ca.06ab18"]]},{"id":"448f7de4.6ddec4","type":"inject","z":"1e9686ea.06cae9","name":"Draw 500kM","topic":"","payload":"{\"name\":\"500kM\",\"lat\":-37.8124,\"lon\":144.9626,\"radius\":500000,\"fillOpacity
